<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.troy1024.mapper.UserMapper">

    <resultMap type="com.troy1024.bean.User" id="resultListUser">
        <id column="id" property="id"/>
        <result column="userName" property="userName"/>
        <result column="note" property="note"/>
    </resultMap>

    <select id="findUserById" resultType="com.troy1024.bean.User">
        select * from t_user where id = #{id}
    </select>

    <select id="findUsersByUserNames" parameterType="string" resultType="User">
        select * from t_user where userName like #{userName}
    </select>

    <insert id="addUser" parameterType="com.troy1024.bean.User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user(userName,note)
        values(#{userName},#{note})
    </insert>

    <update id="updateUser" parameterType="com.troy1024.bean.User" >
        update t_user set userName=#{userName},note=#{note} where id=#{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from t_user where id=#{id}
    </delete>

    <!-- User 联合文章进行查询 方法之一的配置 (多对一的方式)  -->
    <resultMap id="resultUserArticleList" type="com.troy1024.bean.Article">
        <id property="id" column="aid" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <association property="user" resultMap="resultListUser"></association>
    </resultMap>
    <!--aritle的id一定要别名，不能和user的id混淆-->
    <select id="getUserArticles" parameterType="int" resultMap="resultUserArticleList">
        select t_user.*,t_article.id aid, t_article.content,t_article.title,t_article.userid from t_user,t_article
        where t_user.id = t_article.userid and t_user.id=#{id}
    </select>

</mapper>